
// .box .row.header {
//   flex: 0 1 auto;
//   /* The above is shorthand for:
//   flex-grow: 0,
//   flex-shrink: 1,
//   flex-basis: auto
//   */
// }
.messages-container {
  border: 1px solid #ddd;
  overflow-y: scroll;
  padding: 1em;
  height: 0px;

  p {
    word-wrap: break-word;
  }
}

.container {
  margin: 0;
}
